body {
   background: #F4F4F4;
 }

h1 {
  font: 30px Arial, sans-serif;
  color: red;
  display: flex;
  justify-content: center;
}

h2 {
  font: 20px Arial, sans-serif;
}

h3 {
  font: 15px Arial, sans-serif;
}

a {
  font: 15px Arial, sans-serif;
  padding-left: 50px;
  text-decoration-line: none;
}
